<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.life.pts.tally.biz.mapper.OutgoMapper">

	<cache />
	
	<resultMap type="Outgo" id="OutgoResult">
		<id property="id" column="ID"/>
		<result property="money" column="MONEY"/>
		<result property="account.id" column="ACCOUNT_ID"/>
		<result property="tradeName" column="TRADE_NAME"/>
		<result property="outgoDate" column="OUTGO_DATE"/>
		<result property="insertTime" column="INSERT_TIME"/>
		<result property="remark" column="REMARK"/>
		<collection property="attachmentList" ofType="Attachment" 
		resultMap="AttachmentResult" columnPrefix="ATT_" />
	</resultMap>
	
	<resultMap type="Attachment" id="AttachmentResult">
		<id property="id" column="ID"/>
		<result property="absolutePath" column="ABSOLUTE_PATH"/>
		<result property="insertTime" column="INSERT_TIME"/>
		<result property="recordId" column="RECORD_ID"/>
	</resultMap>

	<sql id="outgoTable">
		OUTGO
	</sql>

	<sql id="outgoColumns">
		ID, MONEY, ACCOUNT_ID, SHARE, OUTGO_DATE, INSERT_TIME, TRADE_NAME,
		UPDATE_TIME, REMARK
	</sql>

	<insert id="addOutgo" parameterType="Outgo">
		INSERT INTO
		<include refid="outgoTable" />
		(
		<include refid="outgoColumns" />
		)
		VALUES(#{id}, #{money}, #{account.id}, #{share}, #{outgoDate},
		#{insertTime}, #{tradeName, jdbcType=VARCHAR}, #{updateTime, jdbcType=DATE}, #{remark, jdbcType=VARCHAR})
	</insert>
	
	<select id="listOutgo" useCache="false" parameterType="java.util.Map" resultMap="OutgoResult">
		SELECT 
			o.ID, o.MONEY, o.ACCOUNT_ID, o.SHARE, o.OUTGO_DATE, o.INSERT_TIME, o.TRADE_NAME, o.UPDATE_TIME, o.REMARK, 
			a.RECORD_ID ATT_RECORD_ID, a.ABSOLUTE_PATH ATT_ABSOLUTE_PATH, a.ID ATT_ID
		FROM <include refid="outgoTable"/> o
			LEFT OUTER JOIN ATTACHMENT a ON o.ID = a.RECORD_ID 
		<where>
			<if test="share != null and share != ''">
				AND SHARE = #{share}
			</if>
		</where>
		ORDER BY INSERT_TIME DESC
	</select>
</mapper>